---
import {getCollection} from 'astro:content';
import Layout from '../../../layouts/Layout.astro';
import BlogItem from '../../../components/BlogItem.astro';

export async function getStaticPaths() {
	const allPosts = await getCollection('blog');
	const uniqueTags = [
		...new Set(allPosts.map((post) => post.data.tags).flat()),
	];

	return uniqueTags.map((tag) => {
		const filteredPosts = allPosts.filter((post) =>
			post.data.tags.includes(tag)
		);
		return {
			params: {tag},
			props: {posts: filteredPosts},
		};
	});
}

const {tag} = Astro.params;
const {posts} = Astro.props;
---

<Layout title={tag}>
	<h1 class="text-[length:var(--step-0)]">Posts tagged with # {tag}</h1>
	<ul class="grid grid-cols-[repeat(auto-fit,_minmax(0,_35ch))] gap-4 mt-8">
		{
			posts.map((post) => (
				<li>
					<BlogItem
						url={`/blog/${post.slug}/`}
						title={post.data.title}
						{...post}
					/>
				</li>

			))
		}
	</ul>
</Layout>
