---
import { Image } from 'astro:assets';
import LangBadge from './LangBadge.astro';

const {
    title,
    url,
    data: { lang, description, image, tags }
} = Astro.props;

const descriptionEllipsis = description.split(' ').slice(0, 25).join(' ');
---
<div class="card" data-component="card">
	<div class="card-inner" style="--clr:hsla(0, 0%, 100%, 0);">
	  <div class="box">
		<div class="imgBox">
			<Image src={image} alt="" width="500" height="300" class="w-full rounded-lg object-cover"
		/>
		</div>
		<div class="icon">
		  <a href="#" class="iconBox"> <span class="material-symbols-outlined">
			  arrow_outward
			</span></a>
		</div>
	  </div>
	</div>
	<div class="content">
		<LangBadge lang={lang} />
		<a class="card__link" href={url}>
		  <h2 class='text-[length:var(--step-0)] font-bold mb-3'>{title}</h3>
		  <p>{descriptionEllipsis}</p>
		  <ul>
			{
				tags && tags.map((tag: string) => (
					<li style="--clr-tag:#9a47f3" class="text-white">{tag}</li>
				))
			}
		  </ul>
		</a>
	</div>
  </div>
