---
import LangBadge from './LangBadge.astro';

const {
	title,
	url,
	data: { lang, description },
} = Astro.props;

const descriptionEllipsis = description.split(' ').slice(0, 25).join(' ');

---

<article class='relative my-8 p-8 sm:max-w-lg md:max-w-xl lg:max-w-2xl xl:max-w-3xl'>
	<div class='flex flex-col sm:flex-row justify-between mb-2'>
		<h2
			class='flex mb-1 sm:mb-0 text-lg sm:text-xl font-bold w-full text-[#252525] dark:text-[#fcfcfc]'
		>
			<a
				href={url}
				class='block-link'
			>
				{
					lang && (
						<span class='order-2 self-start ml-auto sm:order-none sm:ml-0 sm:mr-2'>
							<LangBadge>{lang}</LangBadge>{' '}
						</span>
					)
				}
				{title}
				<svg
					aria-hidden='true'
					focusable='false'
					class='ml-2 w-4 h-4 inline align-baseline'
				>
					<use xlink:href='#external-link-icon'></use>
				</svg>
			</a>
		</h2>
	</div>
	<p class=' text-[#252525] dark:text-[#fcfcfc] max-w-2xl'>
		{descriptionEllipsis}
		<a href={url} class="block py-4 font-semibold mt-2 hover:text-[#252525] dark:text-[#fcfcfc]"> [more here] ⤵</a>
	</p>
</article>
